<html>
<head>
    <title>PROYECTO DISENIO 26</title>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/hecho/nuevo">Crear Hecho</a></li>
            <li><a href="/login">Iniciar Sesión</a></li>
        </ul>
    </nav>
</head>
<body>
<form action="/colecciones" method="POST">
    <label for="titulo">Título:</label>
    <input type="text" name="titulo" required>

    <label for="descripcion">Descripción:</label>
    <input type="text" name="descripcion" required>

    <label for="fuente">Fuente:</label>
    <select name="fuenteId" required>
        {{#each fuentes}}
            <option value="{{id}}">{{nombre}} (ID: {{id}})</option>
        {{/each}}
    </select>

    <label for="algoritmo">Algoritmo:</label>
    <select name="algoritmo">
        {{#each algoritmos}}
            <option value="{{this.name}}">{{this.toString}}</option>
        {{/each}}
    </select>

    <label for="criterio">Criterio:</label>
    <input type="text" name="criterio" placeholder="categoria=INCENDIO_FORESTAL" required>

    <br>
    <input type="submit" value="Crear colección">
</form>
</body>
</html>
