<!DOCTYPE html>
<html>
<head>
    <title>PROYECTO DISENIO 26</title>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/hecho/nuevo">Crear Hecho</a></li>
            <li><a href="/login">Iniciar Sesion</a></li>
            <li> <a href="/solicitudesEliminacion">Solicitudes de Eliminacion</a></li>
            <li> <a href="/coleccion/nuevo">Crear colecciones</a></li>
        </ul>
    </nav>
</head>
<body>
<main>
    {{#if hechos.length}}
        <table>
            <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Fecha del Hecho</th>
                <th>Fecha de Carga</th>
            </tr>
            </thead>
            <tbody>
            {{#each hechos}}
                <tr>
                    <td>{{titulo}}</td>
                    <td>{{descripcion}}</td>
                    <td>{{categoria}}</td>
                    <td>{{ubicacion.latitud}}</td>
                    <td>{{ubicacion.longitud}}</td>
                    <td>{{fechaHecho}}</td>
                    <td>{{fechaCarga}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>No hay hechos registrados aun.</p>
    {{/if}}
</main>
<footer class="footer">
    <p>institucion: UTN FRBA</p>
    <p>materia: disenio de sitemas</p>
    <p>grupo 26</p>>
</footer>
</body>
</html>