{{#partial "head"}}
    <link rel="stylesheet" href="assets/home.css">
    <title> MetaMapa </title>
{{/partial}}

{{#partial "contenido-main"}}
    <div>
        <label> Seleccionar Coleccion
            <select name="colecciones">
                <option> Coleccion 1 </option>
                <option> Coleccion 2 </option>
                <option> Coleccion 3 </option>
            </select>
        </label>

        <label>
            <input type="radio" name="tipoNavegacion" value="navegacionCurada"/> Navegacion Curada
        </label>

        <label>
            <input type="radio" name="tipoNavegacion" value='navegacionIrrestrica'/> Navegacion Irrestricta
        </label>
    </div>
    {{#if fuentes.length}}
        {{#each fuentes}}
            <h2>Fuente: {{fuenteID}}</h2>
            <div class="container-tarjetas">
                {{#if hechos.length}}
                        {{#each hechos}}
                            <div class="tarjeta-hecho">
                                <div class="hecho-data">
                                    <p> {{id}} </p>
                                    <p> {{titulo}} </p>
                                    <p> {{descripcion}} </p>
                                    <p> {{categoria}} </p>
                                    <p> {{latitud}} </p>
                                    <p> {{longitud}} </p>
                                    <p> {{fechaHecho}} </p>
                                    <p> {{fechaCarga}} </p>
                                    <form action="/solEliminacion/nueva" method="get" class="form-sol-eliminacion">
                                        <input type="hidden" name="fuenteId" value="{{../fuenteID}}">
                                        <input type="hidden" name="hechoId" value="{{id}}">
                                        <button type="submit">Solicitar Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        {{/each}}
                {{else}}
                    <p>No hay hechos registrados en esta fuente.</p>
                {{/if}}
            </div>
        {{/each}}
    {{else}}
        <p>No hay fuentes disponibles.</p>
    {{/if}}
{{/partial}}

{{> templates/layout}}