{{#partial "head"}}
    <link rel="stylesheet" href="assets/home.css">
{{/partial}}

{{#partial "contenido-main"}}
    <div>
        <label> Seleccionar Coleccion
            <select name="colecciones">
                <option> Coleccion 1 </option>
                <option> Coleccion 2 </option>
                <option> Coleccion 3 </option>
            </select>
        </label>
    </div>

    <div class="contenedor-padre">
        <div class="container-filtros">
            <label class="container-filtros-label"> Modo de Navegacion </label>
            <ul class="lista-navegacion">
                <li>
                    <input type="radio" name="modoNavegacion" value="navegacionIrrestrica"/> Navegaci칩n Irrestricta
                </li>
                <li>
                    <input type="radio" name="modoNavegacion" value='navegacionCurada'/> Navegaci칩n Curada
                </li>
                <li>
                    <small> Podr치s ver los hechos m치s confiables </small>
                </li>
            </ul>

            <label class="container-filtros-label"> Provincia </label>
            <ul class="lista-ubicacion">
                {{#each provincias}}
                    <li>
                        <input type="checkbox" name="provincias[]" value="{{this}}">
                        <label>{{this}}</label>
                    </li>
                {{/each}}
            </ul>

            <label class="container-filtros-label"> Fecha </label>
            <ul class="lista-fecha">
            </ul>

        </div>

        <div class="container-tarjetas">
            {{#if fuentes.length}}
                {{#each fuentes}}
                    {{#if hechos.length}}
                        {{#each hechos}}
                            <div class="tarjeta-hecho">
                                <div class="hecho-data">
                                    <p> {{id}} </p>
                                    <p> {{titulo}} </p>
                                    <p> {{descripcion}} </p>
                                    <p> {{categoria}} </p>
                                    <p> {{latitud}} </p>
                                    <p> {{longitud}} </p>
                                    <p> {{fechaHecho}} </p>
                                    <p> {{fechaCarga}} </p>

                                    <form action="/solEliminacion/nueva" method="get" class="form-sol-eliminacion">
                                        <input type="hidden" name="fuenteId" value="{{../fuenteID}}">
                                        <input type="hidden" name="hechoId" value="{{id}}">
                                        <button type="submit">Solicitar Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <p>No hay hechos registrados en esta fuente.</p>
                    {{/if}}
                {{/each}}
            {{else}}
                <p>No hay fuentes disponibles.</p>
            {{/if}}
        </div> <!-- contenedor-tarjetas-->
    </div> <!-- contenedor-padre-->
{{/partial}}

{{> templates/layout}}